target/
*~
*.lo
*.o
*.la
*.so
*.data
*.dat
*.bak
libtool
aclocal.m4
config.h.in
configure
dist
m4
Makefile
Makefile.in
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
.libs
.deps
config.h
config.log
config.status
stamp-h1
autom4te.cache
tests/check_pmalloc
tmp/
*.log

