target/
*~
*.lo
*.o
*.la
*.so
*.data
*.dat
*.bak
libtool
aclocal.m4
configure
dist
m4
Makefile
Makefile.in
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
.libs
.deps
config.h
config.log
config.status
stamp-h1
autom4te.cache
tests/check_pmalloc
tmp/
*.log
perf/struct_objs_read
perf/struct_objs_write
tests/check_pmclear
tests/check_pmrecycle
tests/check_pmsimulate
build/
.*

